.parent{
    text-align: center;
    position: relative;
}
.happy{
    display: inline;
    position: relative;
    font-size: 80px;
    text-align: center;
    background-color: coral;
    margin-left: 400px;
    margin-top: 100px;
}
.republic{
    display: inline;
    font-size: 80px;
    text-align: center;
    background-color: white;
}
.day{
    display: inline;
    font-size: 80px;
    text-align: center;
    background-color: green;
}

body{
    background-image: url(sky.jpg);
}

.city{

    background-image: url(city.png);
    z-index: 1;
    width: 3000px;
    height: 333px;
    position: absolute;
    top: 306px;
    left: 0px;
    right: 0px;
    animation: city 5s linear infinite;
    background-repeat: repeat-x;
}
@keyframes city {
    100%{
        transform: translateX(-500px);
    }
    
}
.road{
    background-image: url(road.jpg);
    z-index: -1;
    width: 5000px;
    height: 200px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right:0px;
    animation: road 5s linear infinite;
    background-repeat: repeat-x;

}
@keyframes road {
    100%{
        transform: translateX(-3500px);
    }
    
}


.car{
    position: relative;
    top: 280px;
    left: 570px;
    z-index: 1;
    width: 473px;
    height: 217px;
  }
.wheel1{
    z-index: 2;
    animation-name: wheel;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    background-repeat: repeat-x;
    position: relative;
    top: 500px;
    left: -330px;
    width: 95px;
    height: 95px;
    
  
}
@keyframes wheel {

    100%{
        transform:rotate(360deg) ;
    }
    
}
.wheel2{
    z-index: 2;
    animation-name: wheel;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    background-repeat: repeat-x;
    position: relative;
    top: 500px;
    left: -720px;
    width: 95px;
    height: 95px;
    
  
}
@keyframes wheel {

    100%{
        transform:rotate(360deg) ;
    }
    
}

.flag{
    z-index: 2;
    position: relative;
    top: 150px;
    left: 450px;
    width: 110px;
    height: 110px;
   

}

.sun{
    z-index: 2;
    position: relative;
    top: -90px;
    left: 600px;
    width: 110px;
    height: 110px;
    animation:sun 50s linear infinite;
    background-repeat: repeat-x;
}
@keyframes sun {
    100%{
        transform:translateX(-1000px);
    }
    
}